
html, body {
    font-family: open sans;
    padding: 0;
    margin: 0;
}

header {
    background-color: indigo;
    width: 100%;
    height: 5vh;
    padding: 10px;
    margin: 0;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2.3vh 0.2vh;
}

#navbar a{
    display: inline;
    color: white;
    text-decoration: none;
}

#navbar span{
    padding-right: 0.5rem;
}

#navbar a:hover {
    text-shadow: 0.5px 0.5px grey;
}